// Max widths
$site-width: 1280px;
$content-width: 980px;

//Tour Banners
$tour-banner-width: 236px;
$tour-banner-height: 304px;
$tour-banners-maxW: 818px;

//Site colors
$site-blue: #79addc;
$contact-grey: #F5F5F5;
