.homePage {
  .hero {
    max-width: $site-width;
    height: 500px;
    margin: 0 auto;
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/hero.jpg);
  
      nav {
        border-bottom: 2px solid white;
      
        .navLinks a {
          color: white;
        }

        ul {
          .fa-bars {
            color: white;
          }
        }
      }
  
  
  
    .heroText {
      margin: 58px auto;
      width: 714px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      color: white;
      font-family: "Gill Sans", sans serif;
  
      h1 {
        font-family: "Proxima Nova ScOsf";
        font-size: 60px;
        font-weight: 100;
      }
  
      p {
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
        font-style: italic;
      }
  
      a {
        font-size: 15px;
        font-weight: bold;
        padding: 8px 8px;
        border: 2px solid $site-blue;
        background-color: $site-blue;
        text-decoration: none;
        color: white;
      }
    }
  }
  
  .promo {
    max-width: $tour-banners-maxW;
    min-height: $tour-banner-height;
  
    margin: -43px auto 0 auto;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .formArea {
    max-width: $tour-banners-maxW;
    min-height: $tour-banner-height;
  
    margin: 0 auto;
  
    h1 {
      font-size: 60px;
      font-family: "Proxima Nova ScOsf";
      font-weight: 100;
      margin-top: 20px;
    }
  
    .form {
      label {
        font-family: "Gill Sans";
        font-size: 18px;
        font-weight: 100;
      }
  
      input {
        font-family: "Gill Sans";
        padding: 5px;
        font-size: 18px;
        font-weight: 100;
        border: solid $site-blue 2px;
        margin-bottom: 20px;
      }
  
      .twoInput {
        min-height: 58px;
  
        display: flex;
        justify-content: space-between;
  
        .left {
          width: 344px;
        }
  
        .right {
          width: 453px;
        }
      }
  
      .singleLineInput {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        margin-bottom: 20px;
  
        .largeInput {
          width: 698px;
          margin: 0;
        }
      }
  
      .threeInputs {
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        min-height: 58px;
  
        .oneOfThreeInputs {
          width: 200px;
          max-height: 58px;
  
          label {
            margin-right: 30px;
          }
  
          input {
            width: 100px;
          }
        }
      }
  
      textarea {
        width: $tour-banners-maxW;
        height: 192px;
        resize: vertical;
  
        padding: 5px;
        font-size: 18px;
        font-weight: bold;
        border: solid $site-blue 2px;
        margin-bottom: 20px;
      }
  
      .submit {
        max-width: $tour-banners-maxW;
        height: 60px;
        text-align: center;
        background-color: $site-blue;
        border: 2px solid $site-blue;
        border-radius: 20px;
        color: white;
  
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
  
        h1 {
          font-size: 15px;
          font-family: "Gill Sans";
        }
      }
    }
  }
  
  @media (max-width: 860px) {
    .promo {
      width: 90%;
      display: block;
    }
  
    .hero .heroText {
      width: 80%;
    }
  
    .formArea {
      h1 {
        margin-left: 20px;
      }
  
      .form {
        margin-left: 20px;
        margin: 0 auto;
  
        .twoInput {
          width: 100%;
          flex-direction: column;
  
          .left {
            width: 80%;
            margin: 0 auto 20px auto;
          }
  
          .right {
            width: 80%;
            margin: 0 auto 20px auto;
          }
        }
  
        .singleLineInput {
          width: 80%;
          margin: 0 auto 20px auto;
          justify-content: space-between;
  
          .largeInput {
            width: 80%;
          }
        }
  
        .threeInputs {
          width: 80%;
          margin: 0 auto 20px auto;
  
          .oneOfThreeInputs {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
  
            label {
              margin: 0 auto;
            }
            input {
              width: 80%;
            }
          }
        }
  
        .textAreaDiv {
          width: 80%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
  
          textarea {
            width: 100%;
            margin: 0 auto;
          }
        }
  
        .submit {
          width: 80%;
          margin: 20px auto 50px auto;
          color: $site-blue;
        }
      }
    }
  }
  
}