@font-face {
  font-family: "Gill Sans";
  src: url(../fonts/Gill-Sans-Font-Family/Gill\ Sans.otf);
}

@font-face {
  font-family: "Proxima Nova ScOsf";
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}
