* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Gill Sans";
  src: url(../fonts/Gill-Sans-Font-Family/Gill\ Sans.otf);
}
@font-face {
  font-family: "Proxima Nova ScOsf";
  src: url(../fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
@media (max-width: 860px) {
  body {
    background-color: #79addc;
  }
}
.background-props {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tourComponent {
  width: 236px;
  height: 304px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tourComponent .infoHolder {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Proxima Nova ScOsf", "Gill Sans", sans serif;
}
.tourComponent .infoHolder h1 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 0;
}
.tourComponent .infoHolder p {
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 30px;
}
.tourComponent .infoHolder a {
  font-size: 15px;
  font-family: "Gill Sans", sans serif;
  border: 2px solid #79addc;
  background-color: #79addc;
  border-radius: 20px;
  padding: 8px 8px;
  text-decoration: none;
  color: white;
}

.israelPic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
}

.usaPic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
}

.australiaPic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
}

footer {
  max-width: 1280px;
  height: 100px;
  background-color: #79addc;
  margin: 0 auto;
  color: white;
}
footer .footerContent {
  max-width: 980px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footerContent .mobileImgs {
  display: none;
}
footer .footerContent .copyright {
  font-size: 12px;
}
footer .footerContent .fa-brands {
  margin-right: 10px;
}

@media (max-width: 860px) {
  .tourComponent {
    width: 95%;
    margin: 0 auto 20px auto;
  }
  .tourComponent .infoHolder {
    width: 50%;
    height: 70%;
  }
  footer {
    background-color: black;
    color: white;
  }
  footer .footerContent {
    width: 80%;
  }
}
@media (max-width: 630px) {
  footer .footerContent {
    display: block;
  }
  footer .footerContent .basicFooter {
    display: none;
  }
  footer .footerContent .mobileImgs {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .footerContent .copyright {
    width: 100%;
    text-align: center;
  }
}
.hero {
  max-width: 1280px;
  height: 500px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpg);
}
.hero nav {
  max-width: 980px;
  height: 92px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
}
.hero nav .navLinks {
  width: 490px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.hero nav .navLinks a {
  font-family: "Gill Sans";
  font-size: 15px;
  text-decoration: none;
  color: white;
  padding: 0 10px;
  text-align: center;
}
.hero nav .navLinks p {
  margin: 0 10px;
  color: #79addc;
}
.hero .heroText {
  margin: 58px auto;
  width: 714px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: "Gill Sans", sans serif;
}
.hero .heroText h1 {
  font-family: "Proxima Nova ScOsf";
  font-size: 60px;
  font-weight: 100;
}
.hero .heroText p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-style: italic;
}
.hero .heroText a {
  font-size: 15px;
  font-weight: bold;
  padding: 8px 8px;
  border: 2px solid #79addc;
  background-color: #79addc;
  text-decoration: none;
  color: white;
}

.promo {
  max-width: 818px;
  min-height: 304px;
  margin: -43px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formArea {
  max-width: 818px;
  min-height: 304px;
  margin: 0 auto;
}
.formArea h1 {
  font-size: 60px;
  font-family: "Proxima Nova ScOsf";
  font-weight: 100;
  margin-top: 20px;
}
.formArea .form label {
  font-family: "Gill Sans";
  font-size: 18px;
  font-weight: 100;
}
.formArea .form input {
  font-family: "Gill Sans";
  padding: 5px;
  font-size: 18px;
  font-weight: 100;
  border: solid #79addc 2px;
  margin-bottom: 20px;
}
.formArea .form .twoInput {
  min-height: 58px;
  display: flex;
  justify-content: space-between;
}
.formArea .form .twoInput .left {
  width: 344px;
}
.formArea .form .twoInput .right {
  width: 453px;
}
.formArea .form .singleLineInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.formArea .form .singleLineInput .largeInput {
  width: 698px;
  margin: 0;
}
.formArea .form .threeInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 58px;
}
.formArea .form .threeInputs .oneOfThreeInputs {
  width: 200px;
  max-height: 58px;
  position: relative;
}
.formArea .form .threeInputs .oneOfThreeInputs label {
  margin-right: 30px;
}
.formArea .form .threeInputs .oneOfThreeInputs input {
  width: 100px;
}
.formArea .form .threeInputs .oneOfThreeInputs img {
  position: relative;
  width: 20px;
  height: 10px;
}
.formArea .form textarea {
  width: 818px;
  height: 192px;
  resize: vertical;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  border: solid #79addc 2px;
  margin-bottom: 20px;
}
.formArea .form .submit {
  max-width: 818px;
  height: 60px;
  text-align: center;
  background-color: #79addc;
  border: 2px solid #79addc;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.formArea .form .submit h1 {
  font-size: 15px;
  font-family: "Gill Sans";
}

@media (max-width: 860px) {
  .promo {
    width: 90%;
    display: block;
  }
  .navLinks p,
  .navLinks a {
    display: none;
  }
  .hero .heroText {
    width: 80%;
  }
  .formArea h1 {
    margin-left: 20px;
  }
  .formArea .form {
    margin-left: 20px;
    margin: 0 auto;
  }
  .formArea .form .twoInput {
    width: 100%;
    flex-direction: column;
  }
  .formArea .form .twoInput .left {
    width: 80%;
    margin: 0 auto 20px auto;
  }
  .formArea .form .twoInput .right {
    width: 80%;
    margin: 0 auto 20px auto;
  }
  .formArea .form .singleLineInput {
    width: 80%;
    margin: 0 auto 20px auto;
    justify-content: space-between;
  }
  .formArea .form .singleLineInput .largeInput {
    width: 80%;
  }
  .formArea .form .threeInputs {
    width: 80%;
    margin: 0 auto 20px auto;
  }
  .formArea .form .threeInputs .oneOfThreeInputs {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formArea .form .threeInputs .oneOfThreeInputs label {
    margin: 0 auto;
  }
  .formArea .form .threeInputs .oneOfThreeInputs input {
    width: 80%;
  }
  .formArea .form .textAreaDiv {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .formArea .form .textAreaDiv textarea {
    width: 100%;
    margin: 0 auto;
  }
  .formArea .form .submit {
    width: 80%;
    margin: 20px auto 50px auto;
    background-color: white;
    border: 2px solid white;
    color: #79addc;
  }
}
@media (max-width: 980px) {
  nav img {
    margin-left: 20px;
  }
  nav .navLinks {
    margin-right: 20px;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*# sourceMappingURL=styles.css.map */
