.contactPage {
  max-width: $content-width;
  margin: 0 auto;

  h1 {
    font-family: "Proxima Thin";
    font-size: 30px;

    margin: 55px 0 50px 0;

    span {
      border-bottom: 2px solid black;
    }
  }

  .contactContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 100px 0;

    .travelFlyMap {
      iframe {
        margin-bottom: 34px;
      }

      p {
        font-size: 18px;
        font-weight: lighter;
        margin-bottom: 0;
        letter-spacing: 3px;
      }
    }

    .contactForm {
      width: 530px;

      align-self: baseline;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input {
        width: 530px;
        height: 60px;
        display: block;
        background-color: $contact-grey;
        border: none;

        margin-bottom: 21px;
        padding-left: 21px;

        font-size: 16px;

        &:focus {
          outline: none;
        }
      }

      textarea {
        width: 530px;
        height: 200px;
        background-color: $contact-grey;
        border: none;

        margin-bottom: 20px;
        padding: 21px;

        font-size: 16px;
        resize: none;

        &:focus {
          outline: none;
        }
      }

      .submitButton {
        width: 167px;
        height: 60px;

        background-color: $site-blue;

        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: white;
          font-size: 16px;
          letter-spacing: 2px;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .contactPage {
    h1 {
      margin-left: 20px;
    }
    .contactContent {
      width: 90%;
      margin: 0 auto 380px auto;

      .travelFlyMap {
        margin-left: 20px;

        iframe {
          width: 350px;
        }
      }

      .contactForm {
        width: 400px;

        input {
          width: 400px;
        }

        textarea {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .contactPage {
    .contactContent {
      flex-direction: column-reverse;
      margin-bottom: 0;

      .travelFlyMap {
        width: 90%;
        margin: 0 auto 50px auto;

        iframe {
          width: 100%;
        }
      }

      .contactForm {
        width: 90%;
        margin: 0 auto 50px auto;

        input {
          width: 100%;
        }

        textarea {
          width: 100%;
        }

        .submitButton {
          align-self: center;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .contactPage {
    .contactContent {
      .travelFlyMap {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
