.blog {
  max-width: 980px;
  height: 860px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .post {
    width: 100%;
    min-height: 50px;

    display: flex;
    justify-content: space-between;

    .left {
      width: 60px;

      .dateBox {
        width: 60px;
        height: 60px;
        background-color: #79addc;
      }
    }

    .right {
      width: 900px;

      .image {
        width: 900px;
        height: 260px;
        margin-bottom: 20px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      p {
        font-size: 15px;
        margin-bottom: 11px;
        width: 240px;
      }

      .blueText {
        color: #79addc;
        font-size: 13px;
        width: 380px;
      }
    }
  }
}
